PG_HOST = localhost # postgress host
PG_PORT = 5432 # postgress port
PG_DB_NAME = database # postgress database name
PG_USER = user # postgress user
PG_PASSWORD = user # postgress password
IsDevelopment = false
