<nav id="sidebar">
  <ul class="list-unstyled components">
    <li>
      <a href="#" class="sidebar-link d-flex align-items-center" data-page="home/home">
        <span class="link-text">Início</span>
        <i class="bi bi-house-door-fill icon"></i>
      </a>
    </li>
    <li>
      <a href="#" class="sidebar-link d-flex align-items-center" data-page="documents/documents">
        <span class="link-text">Meus Documentos</span>
        <i class="bi bi-file-earmark-text icon"></i>
      </a>
    </li>
    <li>
      <a href="#" class="sidebar-link d-flex align-items-center" data-modal="about">
        <span class="link-text">Sobre</span>
        <i class="bi bi-info-circle icon"></i>
      </a>
    </li>
  </ul>
</nav>